<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title><!-- TITLE_PLACEHOLDER --></title>
    <meta name="description" content="<!-- DESCRIPTION_PLACEHOLDER -->">
    <meta name="keywords" content="Pascal Schärli, cyber security, cryptography, encryption, research, ETH Zürich">

    <!-- Icons -->
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="48x48" href="/img/favicon/favicon-48x48.png">
    <link rel="icon" type="image/png" sizes="64x64" href="/img/favicon/favicon-64x64.png">
    <link rel="icon" type="image/png" sizes="128x128" href="/img/favicon/favicon-128x128.png">
    <link rel="icon" type="image/png" sizes="152x152" href="/img/favicon/favicon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/favicon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/img/favicon/favicon-192x192.png">
    <link rel="icon" type="image/png" sizes="1024x1024" href="/img/favicon/favicon-1024x1024.png">
    <link rel="manifest" href="/site.webmanifest">

    <!-- SEO -->
    <meta property="og:title" content="<!-- TITLE_PLACEHOLDER -->">
    <meta property="og:description" content="<!-- DESCRIPTION_PLACEHOLDER -->">
    <meta property="og:image" content="https://pascscha.ch<!-- CURRENT_PATH_PLACEHOLDER -->img/banner.webp">
    <meta property="og:url" content="https://pascscha.ch<!-- CURRENT_PATH_PLACEHOLDER -->">
    <meta name="twitter:card" content="summary_large_image">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" rel="preload" as="style" />
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.10.0/styles/atom-one-dark.min.css"
        integrity="sha512-Jk4AqjWsdSzSWCSuQTfYRIF84Rq/eV0G2+tu07byYwHcbTGfdmLrHjUSwvzp5HvbiqK4ibmNwdcG49Y5RGYPTg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" rel="preload" as="style" />
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>

<body>
    <header>
        <nav><a href="/" class="home-link" title="Home"><span class="site-title home-link">Pascal Schärli</span></a><a
                href="/" class="home-link" title="Home"><i class="fas fa-home"></i></a></nav>
    </header>
    <div id="content-wrapper">
        <div id="sidebar"><button id="toc-toggle">☰</button>
            <div id="toc" class="collapsed"></div>
        </div>

        <div id="content">
            <div class="banner" style="background-image: url('img/banner.webp')"></div>
            <div id="post-info"><span id="post-date"><!-- DATE_PLACEHOLDER --></span><span id="read-time"></span></div>
            <div id="rendered-content">
                <!-- CONTENT_PLACEHOLDER -->
            </div>
            <div id="post-navigation">
                <a id="prev-post" class="nav-link" href="<!-- PREV_LINK_PLACEHOLDER -->">
                    <!-- PREV_TITLE_PLACEHOLDER -->
                </a>
                <a id="next-post" class="nav-link" href="<!-- NEXT_LINK_PLACEHOLDER -->">
                    <!-- NEXT_TITLE_PLACEHOLDER -->
                </a>
            </div>
        </div>
    </div>
    <footer>
        <div id="social-links">
            <a href="mailto:mail@pascscha.ch" class="social-link" title="Email">
                <i class="fas fa-envelope"></i>
            </a>
            <a href="https://github.com/pascscha" class="social-link" title="GitHub">
                <i class="fab fa-github"></i>
            </a>
            <a href="https://www.linkedin.com/in/pascscha" class="social-link" title="LinkedIn">
                <i class="fab fa-linkedin"></i>
            </a>
            <a href="https://mastodon.social/@pascscha" class="social-link" title="Mastodon">
                <i class="fab fa-mastodon"></i>
            </a>
            <a href="https://twitter.com/pascscha" class="social-link" title="Twitter">
                <i class="fab fa-twitter"></i>
            </a>
        </div>
        <div id="footer-links">
            <a href="/privacy" class="footer-link">Privacy Policy</a>
        </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.10.0/highlight.min.js"
        integrity="sha512-6yoqbrcLAHDWAdQmiRlHG4+m0g/CT/V9AGyxabG8j7Jk8j3r3K6due7oqpiRMZqcYe9WM2gPcaNNxnl2ux+3tA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/js/weblog/blog.js"></script>
</body>

</html>