<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}">
    <meta name="keywords" content="Pascal Schärli, cyber security, cryptography, encryption, research, ETH Zürich">

    <!-- Icons -->
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="48x48" href="/img/favicon/favicon-48x48.png">
    <link rel="icon" type="image/png" sizes="64x64" href="/img/favicon/favicon-64x64.png">
    <link rel="icon" type="image/png" sizes="128x128" href="/img/favicon/favicon-128x128.png">
    <link rel="icon" type="image/png" sizes="152x152" href="/img/favicon/favicon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/favicon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/img/favicon/favicon-192x192.png">
    <link rel="icon" type="image/png" sizes="1024x1024" href="/img/favicon/favicon-1024x1024.png">
    <link rel="manifest" href="/site.webmanifest">

    <!-- SEO -->
    <meta property="og:title" content="{{ title }}">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:image" content="https://pascscha.ch{{ current_path }}img/banner.webp">
    <meta property="og:url" content="https://pascscha.ch{{ current_path }}">
    <meta name="twitter:card" content="summary_large_image">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" rel="preload" as="style" />
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.10.0/styles/atom-one-dark.min.css"
        integrity="sha512-Jk4AqjWsdSzSWCSuQTfYRIF84Rq/eV0G2+tu07byYwHcbTGfdmLrHjUSwvzp5HvbiqK4ibmNwdcG49Y5RGYPTg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" rel="preload" as="style" />
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>

<body>
    <header>
        <nav><a href="/" class="home-link" title="Home"><span class="site-title home-link">Pascal Schärli</span></a><a
                href="/" class="home-link" title="Home"><i class="fas fa-home"></i></a></nav>
    </header>
    <div id="content-wrapper">
        <div id="sidebar"><button id="toc-toggle">☰</button>
            <div id="toc" class="collapsed"></div>
        </div>

        <div id="content">
            <div class="banner" style="background-image: url('img/banner.webp')"></div>
            <div id="post-info">
                <span id="post-date">{{ date }}</span>
                <span id="read-time">{{ read_time }}</span>
                <div class="post-social-links">
                    {% for platform, url in socials %}
                    {% if url %}
                    <a href="{{ url }}" class="social-share-link" title="View on {{ platform | capitalize }}"
                        target="_blank">
                        <i class="fab fa-{{ platform }}"></i>
                    </a>
                    {% endif %}
                    {% endfor %}
                    <a href="#" class="social-share-link" title="Copy link" onclick="copyCurrentURL(event)">
                        <i class="fas fa-share-nodes"></i>
                        <div id="copy-tooltip">URL copied to clipboard!</div>
                    </a>
                </div>
            </div>

            <div id="rendered-content">
                {{ content | safe }}
            </div>

            <div id="post-navigation">
                <div class="nav-item">
                    {% if prev_link and prev_link != '#' %}
                    <a id="prev-post" class="nav-link" href="{{ prev_link }}">
                        {{ prev_title }}
                    </a>
                    {% else %}
                    <span class="nav-link empty"></span>
                    {% endif %}
                </div>

                <div class="nav-item">
                    {% if next_link and next_link != '#' %}
                    <a id="next-post" class="nav-link" href="{{ next_link }}">
                        {{ next_title }}
                    </a>
                    {% else %}
                    <span class="nav-link empty"></span>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div id="social-links">
            <a href="mailto:mail@pascscha.ch" class="social-link" title="Email">
                <i class="fas fa-envelope"></i>
            </a>
            <a href="https://github.com/pascscha" class="social-link" title="GitHub">
                <i class="fab fa-github"></i>
            </a>
            <a href="https://mastodon.social/@pascscha" class="social-link" title="Mastodon">
                <i class="fab fa-mastodon"></i>
            </a>
            <a href="https://bsky.app/profile/pascscha.ch" class="social-link" title="Bluesky">
                <i class="fab fa-bluesky"></i>
            </a>
            <a href="https://www.linkedin.com/in/pascscha" class="social-link" title="LinkedIn">
                <i class="fab fa-linkedin"></i>
            </a>
            <a href="/weblog/rss" class="social-link" title="RSS">
                <i class="fas fa-rss"></i>
            </a>
        </div>
        <div id="footer-links">
            <a href="/privacy" class="footer-link">Privacy Policy</a>
        </div>
    </footer>

    <script src="/js/weblog/blog.js"></script>
</body>

</html>